.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.navbar-content h1 a {
  text-decoration: none;
  color: inherit;
}

.navbar-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-content nav {
  display: flex;
  align-items: center;
  transition: max-height 0.5s, opacity 0.5s;
}

.navbar-content nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.navbar-content nav a.active {
  font-weight: bold;
  color: palevioletred;
}

/* Responsive styles */
@media (max-width: 990px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
  }

  .navbar-content nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-content nav.show {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center icons */
    opacity: 1;
    max-height: 500px; /* Adjust as needed */
  }

  .navbar-content nav a {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 0; /* Set font size to 0 to hide text */
  }

  /* Hide text and only show icons */
  .navbar-content nav a span {
    display: none; /* Hide text */
  }

  .navbar-content nav a svg {
    width: 24px; /* Adjust icon size as needed */
    height: 24px; /* Adjust icon size as needed */
    margin-bottom: 10px; /* Space icons */
  }
}
