<div class="test-container">

  <div>
    <button (click)="toggleVoice()">{{ voiceEnabled ? 'Disable' : 'Enable' }} Voice</button>
    <button *ngFor="let l of [1, 2, 3, 4, 5]" (click)="setLevel(l)">Level {{l}}</button>
  </div>

  <div class="problems-container">
    <ng-container *ngFor="let problem of problems; let i = index">
      <div class="number-inputs">
        <ng-container *ngFor="let block of getBlocks(i); let j = index; let last = last">
          <ng-container *ngIf="!last">
            <ng-container *ngIf="!isInputBlock(i, block); else inputBlock">
              <input
                type="text"
                [id]="'num' + (j + 1)"
                [value]="getBlockValue(i, block)"
                readonly
                class="block"
              >
            </ng-container>
            <ng-template #inputBlock>
              <input
                #inputBlock
                type="text"
                [id]="'input_' + i + '_' + block"
                [(ngModel)]="userInputs[i + '_' + block]"
                (input)="onInputChange($event, i, block)"
                class="block number-input"
              >
            </ng-template>
            <div *ngIf="j < 2" class="block operator">÷</div>
          </ng-container>
          <ng-container *ngIf="last">
            <div class="block operator">=</div>
            <ng-container *ngIf="!isInputBlock(i, block); else quotientInputBlock">
              <input
                type="text"
                [id]="'quotient'"
                [value]="problem.quotient"
                readonly
                class="block"
              >
            </ng-container>
            <ng-template #quotientInputBlock>
              <input
                #inputBlock
                type="text"
                [id]="'input_' + i + '_' + block"
                [(ngModel)]="userInputs[i + '_' + block]"
                (input)="onInputChange($event, i, block)"
                class="block number-input"
              >
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
