<div class="spacing">
  <div class="spacing">
    <h1>Numbers
      <span class="toggle-container">
        @for (increment of ['1', '2', '5', '10', '20']; track increment) {
          <span class="toggle-number" (click)="toggleIncrement(increment)">{{ increment }}</span>
        }
      </span>
    </h1>
    <div class="auto-read-toggle">
      <button class="btn btn-outline-success" type="button" (click)="toggleAutoRead()">
        {{ isReading ? 'Stop Reading' : 'Auto Read' }}
      </button>
    </div>
  </div>
  <!-- Displaying the number in words and the numerical value -->
  <div class="number-display">
    <div #numberInWordsElement class="number-in-words">{{ numberInWords }}</div>
    <div #currentNumberElement class="number-value">{{ currentNumber }}</div>
  </div>

  <div class="number-column">
    @for (number of getNumbers(); track number) {
      <span>
        <button (click)="playNumberAudio(number);">{{ number }}</button>
      </span>
    }
  </div>
</div>
