/* alphabet.component.css */
.spacing {
  padding-left: 20px;
  padding-right: 20px;
}

/* Container for the alphabet letters, arranged in a flexible row */
.alphabet-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Style for each letter in the alphabet row */
.alphabet-row span {
  font-size: 36px;
  margin: 5px;
}

/* Styles for the nav-wrapper component */
.nav-wrapper {
  position: relative;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
  margin: 0 5px;
}

/* Style for the search input container */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Style for text input fields */
input[type="text"] {
  padding: 12px 16px;
  font-size: 1.5rem;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  text-align: center;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Animation for text glow */
@keyframes text-glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #4CAF50, 0 0 15px #4CAF50, 0 0 20px #4CAF50, 0 0 25px #4CAF50, 0 0 30px #4CAF50, 0 0 35px #4CAF50;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #4CAF50, 0 0 30px #4CAF50, 0 0 40px #4CAF50, 0 0 50px #4CAF50, 0 0 60px #4CAF50, 0 0 70px #4CAF50;
  }
}

/* Animation for fade-in and zoom-in */
@keyframes fade-in-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animation for zoom-out and fade-out */
@keyframes zoom-out-fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Applying the animations */
.reading-text {
  animation: fade-in-zoom-in 0.5s forwards, text-glow 1.5s infinite alternate;
}

.reading-text-out {
  animation: zoom-out-fade-out 0.5s forwards;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .alphabet-row span {
    font-size: 30px;
  }

  .button-text {
    display: none;
  }

  input[type="text"] {
    padding: 10px 14px;
    font-size: 1.2rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  input[type="text"] {
    padding: 8px 12px;
    font-size: 2.5rem;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .nav {
    flex-direction: row;
  }

  input[type="text"] {
    padding: 12px 16px;
    font-size: 4rem;
  }
}
