<div class="spacing">
  <div class="spacing">
    <h1>Numbers
      <span class="toggle-container">
        <span class="toggle-number" (click)="toggleIncrement('1')">1</span>
        <span class="toggle-number" (click)="toggleIncrement('2')">2</span>
        <span class="toggle-number" (click)="toggleIncrement('5')">5</span>
        <span class="toggle-number" (click)="toggleIncrement('10')">10</span>
        <span class="toggle-number" (click)="toggleIncrement('20')">20</span>
      </span>
    </h1>

    <div class="number-column">
      <span *ngFor="let number of getNumbers()">
        <button (click)="playNumberAudio(number);">{{ number }}</button>
      </span>
    </div>
  </div>

  <!-- Language Selection -->
  <div class="language-selection">
    <label>
      <input type="radio" name="language" value="English" [(ngModel)]="language" (change)="changeLanguage(language)" /> English
    </label>
    <label>
      <input type="radio" name="language" value="Afrikaans" [(ngModel)]="language" (change)="changeLanguage(language)" /> Afrikaans
    </label>
    <label>
      <input type="radio" name="language" value="Zulu" [(ngModel)]="language" (change)="changeLanguage(language)" /> Zulu
    </label>
  </div>

  <!-- Displaying the number in words and the numerical value -->
  <div class="number-display">
    <div #numberInWordsElement class="number-in-words">{{ numberInWords }}</div>
    <div #currentNumberElement class="number-value">{{ currentNumber }}</div>
  </div>
</div>
