host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.complete-word {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.family {
  font-weight: bold;
  font-size: 18px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
