<!-- Container for the word families component -->
<div class="word-families-container">
  <!-- Header -->
  <h1>Word Families</h1>

  <!-- Display the starting letter -->
  <p>Starting Letter: {{ startingLetter }}</p>

  <!-- Display feedback message if answered -->
  <p *ngIf="answered">
    <!-- Conditional display of correct or incorrect message -->
    <span *ngIf="isCorrect; else incorrect">Correct!</span>
    <ng-template #incorrect>Incorrect</ng-template>
  </p>

  <!-- Table to display the correct word and word family -->
  <table>
    <thead>
      <tr>
        <th>Correct Word</th>
        <th>Word Family</th>
      </tr>
    </thead>
    <tbody>
      <!-- Display correct word and its word family if correct -->
      <tr *ngIf="isCorrect">
        <td>{{ startingLetter + selectedWordFamily.prefix }}</td>
        <td>
          <ul>
            <li *ngFor="let word of selectedWordFamily.words">
              <span class="word highlight">{{ word }}</span>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Buttons for selecting word families -->
  <div class="buttons">
    <!-- Create a button for each word family -->
    <button *ngFor="let wordFamily of wordFamilies" (click)="completeWord(wordFamily.prefix)">
      {{ wordFamily.prefix }}
    </button>
  </div>

  <!-- Button to move to the next letter -->
  <button class="btn btn-outline-success" (click)="nextLetter()">Next Letter</button>
</div>
