<div class="settings-container">
  <h2>Voice Settings</h2>


  <div>
    <label for="voiceEnglish">Voice (English):</label>
    <select id="voiceEnglish" [(ngModel)]="selectedVoiceEnglish" (change)="onVoiceChange('English', $event)">
      <option *ngFor="let voice of englishVoices" [value]="voice.name">{{ voice.name }}</option>
    </select>
  </div>

  <div>
    <label for="voiceAfrikaans">Voice (Afrikaans):</label>
    <select id="voiceAfrikaans" [(ngModel)]="selectedVoiceAfrikaans" (change)="onVoiceChange('Afrikaans', $event)">
      <option *ngFor="let voice of afrikaansVoices" [value]="voice.name">{{ voice.name }}</option>
    </select>
  </div>

  <div>
    <label for="voiceZulu">Voice (Zulu):</label>
    <select id="voiceZulu" [(ngModel)]="selectedVoiceZulu" (change)="onVoiceChange('Zulu', $event)">
      <option *ngFor="let voice of zuluVoices" [value]="voice.name">{{ voice.name }}</option>
    </select>
  </div>


  <div>
    <label for="voiceRate">Voice Rate:</label>
    <input type="range" id="voiceRate" min="-2" max="2" step="0.5" [(ngModel)]="voiceRate" (change)="setVoiceRate(voiceRate)">
    <span>{{ voiceRate }}</span>
  </div>

  <div>
    <label for="repeatWordsToggle">Repeat Words:</label>
    <input type="checkbox" id="repeatWordsToggle" [(ngModel)]="repeatWords" (change)="onRepeatChange($event)">
  </div>

  <div class="button-container">
    <button (click)="saveSettings()">Save Settings</button>
    <button (click)="resetSettings()">Reset Settings</button>
  </div>
</div>
